*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root{
    --input-background: #F5F8FA;
    --input-border: #D4DDE7;
    --input-font-color: #545454;
    --undo-color: #B5B5B5;
    --undo-color-active: #7A7A7A;
    --btn-color: #5E7AFF;
    --focal-point: #392F5A;
    --params-color: #19A2F1;
    --title-magin-bottom: 10px;
    --group-control-margin-bottom: 20px;
    --input-height: 32px;
}


/* CONTAINERS */
.api-container{
    align-items: flex-start;
    display: flex;
    height: 730px;
    justify-content: center;
    margin: auto;
    max-width: 1400px;
    position: relative;
    width: 100%;
}

.controls-container{
    background: #fff;
    box-shadow: 5px 0px 5px rgba(0,0,0,.2);
    height: 750px;
    padding: 12px;
    transition: all .2s linear;
    width: 280px;
    z-index: 2;
}

.body-container{
    align-items: center;
    border-bottom: 1px solid var(--input-border);
    display: flex;
    flex-direction: column;
    height: 730px;
    justify-content: center;
    width: calc(100% - 280px);
}

.body-container .url-group-container{
    align-items: center;
    background: #fff !important;
    display: flex;
    height: 50px;
    justify-content: center;
    margin-top: 10px;
    padding: 0px 20px;
    width: 100%;
}

.body-container .image-container{
    align-items: center;
    background-image:
        linear-gradient(45deg, #ccc 25%, transparent 25%),
        linear-gradient(-45deg, #ccc 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #ccc 75%),
        linear-gradient(-45deg, transparent 75%, #ccc 75%);
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    background-size:20px 20px;
    display: flex;
    height: calc(100% - 60px);
    justify-content: center;
    overflow: auto;
    width: 100%;
}

.body-container .image-container .img-container{
    align-items: flex-start;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    max-height: 590px;
    overflow: auto;
    width: 100%;
}

.body-container .image-container  .image-edit-container{
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

/* CONTROLS */
.control-group{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    padding-bottom: 0px;
    width: 100%;
}

.controls-grid{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 95%;
}

select{
    background: var(--input-background);
    border-radius:5px;
    border: 1px solid var(--input-border);
    color: #333;
    height: 32px;
    padding: 0px 10px;
    width: 200px;
}

.crop-group{
    padding: 0px;
    width: 150px;
}

.crop-width,
.crop-height{
    align-items: center;
    background-color:var(--input-background);
    border-radius: 5px;
    border: 1px solid var(--input-border);
    color: var(--input-font-color);
    display: flex;
    height: var(--input-height);
    justify-content:center;
    padding: 0px 5px;
    width: 65px;
}

.crop-width{
    margin-right: 10px;
}

.coordinates{
    align-items: center;
    background: var(--input-background);
    border-radius: 4px;
    border: 1px solid var(--input-border);
    color: #A6A8A8;
    display: flex;
    font-size: 14px;
    height: 32px;
    justify-content: space-around;
    padding: 4px 5px;
    width: 150px;
}

.coordinates .coordinate{
    align-items: center;
    display: flex;
    font-size: 16px;
    justify-content: center;
    min-width: 40px;
}

.coordinates .coordinate small{
    font-size: 14px;
    margin: 0px 5px;
}

.rotate-control-container{
    width: 80px;
}

.rotate-control-group-value{
    align-items: center;
    background-color:var(--input-background);
    border-radius: 5px;
    border: 1px solid var(--input-border);
    color: var(--input-font-color);
    display: flex;
    height: 32px;
    justify-content:center;
    padding:4px 0;
    width: 90px;
}

.rotate-btn-group{
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 105px;
}

.input-value{
    background-color: var(--input-background);
    border-radius: 5px;
    border: 1px solid var(--input-border);
    color: var(--input-font-color);
    display: inline-block;
    font-size: 12px;
    min-width: 45px !important;
    padding: 2px 3px;
    text-align: center;
    text-align: right;
}

.crop-input{
    background-color: var(--input-background);
    border:none;
    font-size: 14px;
    height: 98%;
    padding: 4px 4px;
    width: 90%;
}

.rotate-input{
    background: var(--input-background);
    border-radius: 5px;
    border: none;
    height: 98%;
    margin-right: 5px;
    padding: 4px 5px;
    width: 55px;
}

.focal-point{
    align-items:center;
    border-radius: 100%;
    color: #f00;
    cursor: pointer;
    display: none;
    font-size: 30px;
    height: 10px;
    justify-content:center;
    left: 50%;
    position: absolute;
    top: 50%;
    user-select: none;
    width: 10px;
    z-index: 10;
}

/* URL CONTAINER */
.url-container{
    background: #fff;
    border-radius: 5px;
    border: 1px solid var(--input-border);
    display: flex;
    font-size: 16px;
    justify-content: flex-end;
    margin-right: 15px;
    max-width: 80%;
    overflow: hidden;
    padding: 5px 15px;
    user-select: none;
    white-space:nowrap;
}

.params{
    color: var(--params-color);
    user-select: none;
}

/* ALERT MESSAGE */
.alert-message{
    background: #542FE7;
    border-radius: 5px 5px 0px 0px;
    bottom: 0px;
    color: #fff;
    left: calc(50% - 125px);
    padding: 20px 0px;
    position: fixed !important;
    text-align: center;
    transform: all .2s ease;
    width: 250px;
    z-index: 100;
}

/* RANGE INPUT */
input[type="range"]{
    -webkit-appearance: none;
    background: var(--input-background);
    border-radius: 10px;
    border: 1px solid var(--input-border);
    color: #fff;
    cursor: pointer;
    height: 8px;
    margin-right: 10px;
    width: 180px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid var(--input-border);;
    box-shadow: 1px 1px 2px rgba(0, 0, 0,.4);
    height: 20px;
    width: 20px;
}
input[type="range"].lock{
    background-color: #f2f2f2;
    cursor: not-allowed;
}

input[type=range].lock::-webkit-slider-thumb{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
}

/* BUTTONS/ICONS */
.btn-api-img{
    background: var(--btn-color);
    border-radius: 4px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    height: 32px;
    margin: 0px 0px;
    min-width: 55px;
    padding: 0px 5px;
}

.btn-api-img:focus{
    outline: none;
}

.btn-crop{
    border: 1px solid var(--input-border);
    font-size: 14px;
    height: 32px;
    min-width: 55px;
    padding: 4px 5px;
}

.btn-api-img.btn-rotate{
    align-items: center;
    background: transparent;
    border: 1px solid var(--input-border);
    display: flex;
    justify-content: center;
    min-width: 0px;
    overflow: hidden;
    padding: 2px 0px;
    width:  50px;
}

.undo{
    color: var(--undo-color);
}

.undo-active{
    color: var(--undo-color-active);
}

.deg-icon{
    display: inline-block;
    font-size: 20px;
}

/*SVG*/
svg{
    height: 100%;
    position: relative;
    width: 100%;
    z-index: -1;
}

svg.horizontal{
    transform: rotate(90deg);
}

svg.btn-rotate-img{
    width: 30px;
}

svg.clip{
    height: 30px;
    min-height: 30px;
    min-width: 30px;
    width: 30px;
    z-index: 1;
}

.undo-div{
    align-items: center;
    display: flex;
    height: 20px;
    justify-content: center;
    width: 20px;
}

.undo-div svg {
    height: 16px;
    width: 17px;
    cursor: pointer;
}

.undo-div svg path{
    fill:var(--undo-color);
    position: absolute;
    z-index: -10;
    cursor: pointer;
}

.undo-div.undo-active svg path{
    fill: var(--undo-color-active);
    position: absolute;
    z-index: -10;
}

/* MOVIL OPTIONS */
.btn-icon{
    background: transparent;
    border:none;
    height: 30px;
    width: 30px;
    z-index: 1;
}

.setting-icons{
    height: 30px;
    position: relative;
    width: 30px;
    z-index: -1;
}

.movil-option{
    display: none;
}

.icon-back{
    height: 25px;
    width: 25px;
}

.show-controls{
    margin-left: 0px !important;
}

.overlay{
    background: rgba(0,0,0,.2);
    display: none;
    height: 100%;
    position: absolute;
    width:100%;
    z-index: 10;
}

.overlay.show{
    display: inline-block;
}


/* REMOVE OUTLINE */
button:focus,
input:focus,
select:focus{
    outline:none;
}


/* LOADING */
.loading-api-img{
    align-items: center;
    background-color: #fff;
    background: rgb(181, 181, 181);
    display: flex;
    height: 100%;
    justify-content: center;
    opacity: .4;
    position: absolute;
    width: 100%;
}


/* LOADER */
.loader-api-img div {
    animation: loader 1s cubic-bezier(0,0.2,0.8,1) infinite;
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    opacity: 1;
    position: absolute;
}

.loader-api-img div:nth-child(1) {
    animation-delay: 0s;
    border-color: #ae0acf;
}

.loader-api-img div:nth-child(2) {
    animation-delay: -0.5s;
    border-color: #542fe7;
}

.loadingio-spinner-ripple {
    background: none;
    display: inline-block;
    height: 200px;
    overflow: hidden;
    width: 200px;
}

.loader-api-img {
    backface-visibility: hidden;
    height: 100%;
    position: relative !important;
    transform-origin: 0 0; /* see note above */
    transform: translateZ(0) scale(1);
    width: 100%;
}

.loader-api-img div { 
    box-sizing: content-box; 
}

/* OTHERS STYLES */
.title{
    color: #333;
    font-size: 14px;
    font-weight: bold;
    height: 14px;
    margin-bottom: 12px;
}

.bigger{
    font-size: 18px;
    height: auto;
    margin: 0px;
}

.no-transition{
    transition: none;
}

.show{
    display: flex;
}

.cursor-api-img{
    cursor: pointer;
}

hr{
    background: #7A7A7A;
    margin: 20px 0px;
    opacity: .5;
}

/* ANIMATIONS */
@keyframes loader {
    0% {
        height: 0;
        left: 96px;
        opacity: 1;
        top: 96px;
        width: 0;
    }
    100% {
        height: 156px;
        left: 18px;
        opacity: 0;
        top: 18px;
        width: 156px;
    }
}


/* MEDIA QUERY */
@media screen and (max-width: 850px){

    .url-container{
        margin: 0px 15px;
    }

    .movil-option{
        display: inline-block;
    }

    .controls-container{
        left: 0px;
        margin-left: -300px;
        position: absolute;
        z-index: 11;
        overflow: auto;
    }
    .body-container{
        width: 100%;
    }

}

/* @media screen and (max-height: 450px){
    .controls-container{
        height: 100vh;
        overflow: auto;
    }
} */

