@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root{
    --input-background: #F5F8FA;
    --input-border: #D4DDE7;
    --input-font-color: #545454;
    --undo-color: #B5B5B5;
    --undo-color-active: #7A7A7A;
    --btn-color: #5E7AFF;
    --focal-point: #392F5A;
    --params-color: #19A2F1;
}

body{
    font-family: 'open sans', sans-serif;
    /* text-align: center; */
    background: #f2f2f2;
}


/* CONTAINERS */
.api-container{
    /* width: 1250px; */
    width: 100%;
    max-width: 1400px;
    height: 860px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
}

.controls-container{
    width: 310px;
    /* height: 500px; */
    padding: 10px;
    padding-left: 20px;
    box-shadow: 5px 0px 5px rgba(0,0,0,.2);
    background: #fff;
    z-index: 2;
}

.body-container{
    width: calc(100% - 310px);
    height: 860px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid var(--input-border);
}

.body-container .url-group-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background: #fff !important;
    width: 100%;
    padding: 0px 20px;
    margin-top: 10px;
}

.body-container .image-container{
    height: calc(100% - 60px);
    background-image:
    linear-gradient(45deg, #ccc 25%, transparent 25%),
    linear-gradient(-45deg, #ccc 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(-45deg, transparent 75%, #ccc 75%);

    background-size:20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    /* background: #ccc; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.body-container .image-container .img-container{
    height: 100%;
    max-height: 590px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;
}

.body-container .image-container  .image-edit-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-group{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 5px;
    padding-bottom: 0px;
    margin-bottom: 12px;
}

.focal-control-group{
    width: 95%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.crop-control-group{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rotate-control-group{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin: 10px 0px;
}

.crop-group{
    width: 160px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.crop-width,
.crop-height{
    width: 75px;
    display: flex;
    background-color:var(--input-background);
    justify-content:center;
    align-items: center;
    border: 1px solid var(--input-border);
    padding:4px 5px;
    border-radius: 5px;
    color: var(--input-font-color);
}

.coordinates{
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--input-background);
    border: 1px solid var(--input-border);
    border-radius: 4px;
    font-size: 14px;
    padding: 4px 5px;
    color: #A6A8A8;
}

.coordinates .coordinate{
    font-size: 16px;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coordinates .coordinate small{
    margin: 0px 5px;
    font-size: 14px;
}

.rotate-control-container{
    width: 80px;
}

.rotate-control-group-value{
    width: 80px;
    display: flex;
    background-color:var(--input-background);
    justify-content:center;
    align-items: center;
    border: 1px solid var(--input-border);
    padding:4px 5px;
    border-radius: 5px;
    color: var(--input-font-color);
}

.rotate-btn-group{
    width: 125px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* ELEMENTS */

.title{
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.bigger{
    margin: 0px;
    font-size: 18px;
}

.input-value{
    display: inline-block;
    font-size: 12px;
    padding: 2px 3px;
    text-align: center;
    background-color: var(--input-background);
    color: var(--input-font-color);
    border: 1px solid var(--input-border);
    border-radius: 5px;
    min-width: 45px !important;
    text-align: right;
}

.crop-input{
    width: 50px;
    padding: 4px 0px;
    border:none;
    background-color: var(--input-background);
}

.rotate-input{
    width: 55px;
    background: var(--input-background);
    border: none;
    padding: 4px 5px;
    border-radius: 5px;
    margin-right: 5px;
}

.url-container{
    background: #fff;
    border-radius: 5px;
    border: 1px solid var(--input-border);
    padding: 5px 15px;
    font-size: 16px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    /* width: 80%; */
    max-width: 80%;
    white-space:nowrap;
    user-select: none;
}

.focal-point{
    position: absolute;
    width: 10px;
    height: 10px;
    font-size: 30px;
    border-radius: 100%;
    left: 50%;
    top: 50%;
    color: #f00;
    z-index: 10;
    display: none;
    justify-content:center;
    align-items:center;
    cursor: pointer;
    user-select: none;
}

.show{
    display: flex;
}

.params{
    color: var(--params-color);
    user-select: none;
}

.alert-message{
    position: fixed;
    bottom: 0%;
    left: calc(50% - 500px);
    min-width: 1000px;
    text-align: center;
    transform: all .2s ease;
}

.cursor{
    cursor: pointer;
}

select{
    width: 200px;
    padding: 8px 10px;
    background: var(--input-background);
    color: #333;
    border: 1px solid var(--input-border);
    border-radius:5px;
    font-size: 16px;
    font-weight: bold;
}

hr{
    background: #7A7A7A;
    opacity: .5;
}



/* RANGE INPUT */
input[type="range"]{
    -webkit-appearance: none;
    background: var(--input-background);
    border-radius: 10px;
    border: 1px solid var(--input-border);
    color: #fff;
    height: 8px;
    width: 200px;
    margin-right: 10px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid var(--input-border);;
    box-shadow: 1px 1px 2px rgba(0, 0, 0,.4);
    height: 20px;
    width: 20px;
}
input[type="range"].lock{
    background-color: #f2f2f2;
    cursor: not-allowed;
    /* color: #000; */
}

input[type=range].lock::-webkit-slider-thumb{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
}


/* REMOVE OUTLINE */

input:focus,
select:focus{
    outline:none;
}

/* ICONS */

.undo{
    color: var(--undo-color);
}

.undo-active{
    color: var(--undo-color-active);
}

.btn{
    height: 40px;
    padding: 4px 10px;
    min-width: 60px;
    font-size: 14px;
    background: var(--btn-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    margin: 0px 10px;
}

.btn-rotate{
    height:40px;
    width: 45px;
    /* background-color: var(--input-background); */
    background: transparent;
    border: 1px solid var(--input-border);
    font-size: 14px;
    padding: 2px 4px;
    text-align: center;
    margin: 0px;
}

.btn-crop{
    /* width: 52px; */
    height: 41px;
    min-width: 60px;
    padding: 4px 12px;
    border: 1px solid var(--input-border);
    font-size: 14px;
}

.btn-rotate-img{
    width: 100%;
}

.deg-icon{
    display: inline-block;
    font-size: 20px;
    /* width: 20px; */
}

#clip{
    color: #1E8CCF;
}

svg{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
}

svg.horizontal{
    transform: rotate(90deg);
}

svg.clip{
    height: 30px;
    width: 30px;
    z-index: 1;
}


/* OTHER STYLES */
.mt-4{
    margin-top: 10px;
}

/* LOADING */
.loading{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background: rgb(181, 181, 181);
    opacity: .4;
}

/* LOADER */

.loader div {
    position: absolute;
    border-width: 4px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    animation: loader 1s cubic-bezier(0,0.2,0.8,1) infinite;
}

.loader div:nth-child(1) {
    border-color: #ae0acf;
    animation-delay: 0s;
}

.loader div:nth-child(2) {
    border-color: #542fe7;
    animation-delay: -0.5s;
}

.loadingio-spinner-ripple {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.loader {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}

.loader div { 
    box-sizing: content-box; 
}

@keyframes loader {
    0% {
        top: 96px;
        left: 96px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 18px;
        left: 18px;
        width: 156px;
        height: 156px;
        opacity: 0;
    }
}